h1 {
    font-size: 60px;
    text-align: center;
    color: maroon;
    font-family: cursive;
    text-decoration-line: underline;
}
body{
    /*background-color:#ffffed */
}


.filter{
    background-color: maroon;
    color: white;
    float: left;
    width: 200px;
    margin-right: 10px;
}

.wrapper {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
}
.box{
    background-color: pink;
    border-radius: 5px;
    padding: 20px;
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
  }

.container {
    padding: 2px 16px;
}

img{
    width: 100%;
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
}
